
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <h1>Cloudinary/ThirdLight PoC</h1>
    <!-- /.content-header -->
    

    <!-- Main content -->
    <!-- Cloudinary -->
    <h3>Cloudinary</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-area="" asp-controller="Cloudinary" asp-action="CloudinaryGallery" asp-route-id="Arena/Pleated/Roomsets" class="small-box-footer">
                        Pleated Roomsets <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-area="" asp-controller="Cloudinary" asp-action="cloudinary" asp-route-id="Arena/Roller/Roomsets" class="small-box-footer">
                        Roller Roomsets <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-area="" asp-controller="Cloudinary" asp-action="cloudinary" asp-route-id="Arena/Roller/Scans" class="small-box-footer">
                        Roller Scans <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-area="" asp-controller="Cloudinary" asp-action="cloudinary" asp-route-id="Arena/Wooden" class="small-box-footer">
                        Wooden <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- ThirdLight -->
    <h3>ThirdLight</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-area="" asp-controller="ThirdLight" asp-action="ThirdLightGallery" asp-route-id="7fb2e577-bf8b-48e9-829b-5458221a1967" class="small-box-footer">
                        Verticals <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-area="" asp-controller="ThirdLight" asp-action="ThirdLightGallery" asp-route-id="dd8f098b-70d7-4937-bdf9-4210b0980046" class="small-box-footer">
                        Roller Swatches <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-area="" asp-controller="ThirdLight" asp-action="ThirdLightGallery" asp-route-id="e014bba4-279a-42b6-a47c-1b5e47a7d984" class="small-box-footer">
                        Softs <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-area="" asp-controller="ThirdLight" asp-action="ThirdLightGallery" asp-route-id="e5e06f8b-d223-48e4-ad15-0fb07eef3" class="small-box-footer">
                        Motorised <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>



