<div class="card card-primary" id="gallery-card" xmlns="http://www.w3.org/1999/html">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h4 class="card-title">@ViewBag.Title</h4><br>
                <p id="counter">Selected:</p>
                <p id="size">Total Size:</p>
            </div>
            <div class="col">
                <button type="button" class="btn btn-block btn-primary btn-sm" id="selectAll">Select All Images</button>
                <button type="button" class="btn btn-block btn-primary btn-sm" id="deselectAll">Deselect All Images</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-block btn-primary btn-sm" id="pipeDownload">Pipeline Download</button>
                <button type="button" class="btn btn-block btn-primary btn-sm" id="memoryDownload">MemoryStream Download</button>
            </div>
        </div>
    </div>
</div>