{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      Status code: {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% if data %}
<h1>File: {{ data['filename'] }}</h1>

<h3>Info</h3>
<table>
    <thead>
        <td>ID</td>
        <td>Filename</td>
        <td>File Type</td>
        <td>Created Date</td>
        <td>Modified Date</td>
    </thead>
    <tbody>
        <tr>
            <td>{{ data['id'] }}</td>
            <td>{{ data['filename'] }}</td>
            <td>{{ data['fileType'] }}</td>
            <td>{{ data['createdDate']['rfc3339'] }}</td>
            <td>{{ data['modifiedDate']['rfc3339'] }}</td>
        </tr>
    </tbody>
</table>

<h3>Images</h3>
<h4>Small: {{ data['thumbnails']['small']['height'] }} x {{ data['thumbnails']['small']['width'] }}</h4>
<img src="{{ data['thumbnails']['small']['url'] }}"/>
<h4>Medium: {{ data['thumbnails']['medium']['height'] }} x {{ data['thumbnails']['medium']['width'] }}</h4>
<img src="{{ data['thumbnails']['medium']['url'] }}"/>
<h4>Large: {{ data['thumbnails']['large']['height'] }} x {{ data['thumbnails']['large']['width'] }}</h4>
<img src="{{ data['thumbnails']['large']['url'] }}"/>
{% endif %}
