{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      Status code: {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% if folder %}
    <h1>Folder: {{ folder }}</h1>
{% endif %}

<table>
    <thead>
        <td>ID</td>
        <td>Filename</td>
        <td>File Type</td>
        <td>Created Date</td>
        <td>Modified Date</td>
    </thead>
    <tbody>
        {% if data %}
            {% for i in data['response'] %}
                <tr>
                    <td><a href="/file/{{ i['id'] }}">{{ i['id'] }}</a></td>
                    <td>{{ i['filename'] }}</td>
                    <td>{{ i['fileType'] }}</td>
                    <td>{{ i['createdDate']['rfc3339'] }}</td>
                    <td>{{ i['modifiedDate']['rfc3339'] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
