<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="cloudinary_acc_name" value="hillarys" />
		<add key="cloudinary_api_key" value="394937512769513" />
		<add key="cloudinary_api_secret" value="j-p1TR4mjdQMC9tG81uI0fFJIvw" />
		<add key="destination_folder" value="C:\\Users\\mresoli\\Pictures\\Cloudinary\\"/>
		<!-- Below setting used for uploading images to marketing drive -->
		<!--<add key="destination_folder" value="Q:\\Cloudinary\\Images\\"/>-->
	</appSettings>
</configuration>